backend:
  name: git-gateway
  branch: main

media_folder: "uploads"
public_folder: "/uploads"

publish_mode: simple

collections:
  - name: "course"
    label: "קורס"
    files:
      - label: "המפגש הבא"
        name: "next_meeting"
        file: "content/meeting.json"
        format: "json"
        fields:
          - { label: "כותרת", name: "title", widget: "string" }
          - { label: "תיאור", name: "desc", widget: "text" }
          - { label: "תאריך", name: "date", widget: "string" }
          - { label: "שעה", name: "time", widget: "string" }
          - { label: "לינק לזום", name: "zoom", widget: "string", required: false } 
