backend:
  name: github
  repo: dorvad/LeadUp2026
  branch: main

media_folder: "uploads"
public_folder: "/uploads"

publish_mode: simple

collections:
  - name: "course_site"
    label: "אתר הקורס"
    files:
      - label: "המפגש הבא"
        name: "next_meeting"
        file: "content/next-meeting.json"
        format: "json"
        fields:
          - label: "כותרת"
            name: "title"
            widget: "string"

          - label: "תיאור"
            name: "desc"
            widget: "text"

          - label: "תאריך"
            name: "date"
            widget: "string"

          - label: "שעה"
            name: "time"
            widget: "string"

          - label: "מיקום/זום"
            name: "location"
            widget: "string"
            required: false

          - label: "קישור זום"
            name: "zoomUrl"
            widget: "string"
            required: false
